<div class="row justify-content-md-center">
  <div class="col-10">
    <a class="btn btn-outline-success" routerLink="add">Add</a>
  </div>
</div>
<br/>
<div class="row justify-content-md-center">
  <div class="col-10">
    <table class="table table-bordered" *ngIf="countries">
      <thead class="thead-light">
        <tr>
          <th>Id</th>
          <th>Name</th>
          <th>Last Updated</th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let country of countries">
          <td>{{ country.country_id }}</td>
          <td><a [routerLink]="['detail', country.country_id]">{{ country.country }}</a></td>
          <td>{{ country.last_update | date:'dd/MM/yyyy'}}</td>
          <td>
            <a class="btn btn-outline-warning" [routerLink] ="['edit', country.country_id]">Edit</a>
            <a class="btn btn-outline-danger" [routerLink] ="['delete', country.country_id]">Delete</a>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>