<div class="row justify-content-md-center">
  <div class="col-10">
    <a class="btn btn-outline-success" routerLink="add">Add</a>
  </div>
</div>
<br/>
<div class="row justify-content-md-center">
  <div class="col-10">
    <table class="table table-bordered">
      <thead class="thead-light">
        <tr>
          <th>Id</th>
          <th>Name</th>
          <th>Country Id</th>
          <th>Last Updated</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let city of cities">
          <td>{{ city.city_id }}</td>
          <td>{{ city.city }}</td>
          <td>{{ city.country_id }}</td>
          <td>{{ city.last_update }}</td>
          <td>
            <a class="btn btn-outline-warning" [routerLink]="['edit', city.city_id]">Edit</a>
            <a class="btn btn-outline-danger" [routerLink]="['delete', city.city_id]">Delete</a>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>